{% extends 'layauts/base_responsive.html' %}
{% load static %}
{% block otherstyles%}
<link rel="stylesheet" href="{% static 'css/eventTables.css' %}">
{% endblock %}
{% block content %}
    <section class="p-0">
        <div class="container-fluid">
            <div class="card mb-0">
                <div class="card-body">
                    <div class="row gx-5 bg-white">
                        <div class="col-md-12 mb-6">
                                <div class="chart" style="width:100%;height: 400px" id="chart6"></div>
                                <button class="btn btn-info btn-view-more" data-toggle="modal" style="background-color:#174273;border-color:#174273"
                                data-target="#myModal" 
                                data-title="Gastos de agua por zona (m³)"
                                data-description="Información desglosada:"
                                data-category="gasto_agua">
                            Ver más
                        </button> 
                        </div>
{#                        <div class="col-md-12 mb-6">#}
{#                            <div class="chart" style="width:100%;height: 400px" id="chart5"></div>#}
{#                        </div>#}
                        <div class="col-md-12 mb-6">
                            <div class="chart" style="width:100%;height: 400px" id="chart7"></div>
                            <button class="btn btn-info btn-view-more" data-toggle="modal" style="background-color:#174273;border-color:#174273"
                                data-target="#myModal" 
                                data-title="Captación de agua pluvial (metros de tubo para captación)"
                                data-description="Información desglosada:"
                                data-category="captacion_agua">
                            Ver más
                        </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
    <div class="modal fade popup" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="card">
                    <div class="card-body">
                        <h2 class="event-title card-title mb-0 text-center text-bold tc-gray mt-5 mb-5"></h2>
                        <!--<p class="event-description card-text mt-5 text-justify"></p>-->
                        
                        <table class="table table-striped event-table">
                            <thead>
                                <tr>
                                    <th>Proyecto</th>
                                    <th>2022</th>
                                    <th>2023</th>
                                    <th>2024</th>
                                </tr>
                            </thead>
                            <tbody class="event-table-body">
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="text-center py-3">
                    <button type="button" class="btn btn-secondary close-btn card-link" data-mdb-dismiss="modal">
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block otherscripts %}
    <link rel="stylesheet" href="{% static 'css/amcharts.css' %}">
    <script src="{% static 'js/amCharts/amcharts.js'%}"></script>
    <script src="{% static 'js/amCharts/serial.min.js'%}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        var BARCHARTHOME = document.getElementById('barChartHome2');

        {#var chart5 = AmCharts.makeChart("chart5", {#}
        {#    "titles": [#}
        {#        {#}
        {#            "text": "Gasto total de agua (m³)",#}
        {#            "size": 16,#}
        {#            "color": "#000000"#}
        {#        },#}
        {#         {#}
        {#             "text": "",#}
        {#             "size": 12#}
        {#         }#}
        {#    ],#}
        {#    "fontSize": 14,#}
        {#    "type": "serial",#}
        {#    "addClassNames": true,#}
        {#    "theme": "none",#}
        {#    "colors": ["#8EA043", "#6298C2"],#}
        {#    "balloon": {#}
        {#        "adjustBorderColor": false,#}
        {#        "horizontalPadding": 10,#}
        {#        "verticalPadding": 8,#}
        {#        "color": "#ffffff"#}
        {#    },#}
        {#    "dataProvider": [#}
        {#        {#}
        {#        "year": "2022",#}
        {#        "percent":413972,#}
        {#        },#}
        {#        {#}
        {#        "year": "2023",#}
        {#        "percent":474526,#}
        {#        },#}
        {#        {#}
        {#        "year": "2024",#}
        {#        "percent":0,#}
        {#        }#}
        {#    ],#}
        {#    "valueAxes": [{#}
        {#        "axisAlpha": 0,#}
        {#        "position": "left",#}
        {#        "gridAlpha": 0,#}
        {#        "labelsEnabled": false,#}
        {#        "minimum": 0#}
        {#    }],#}
        {#    "startDuration": 1,#}
        {#    "graphs": [{#}
        {#        "balloonText": "<span style='font-size:15px;'>[[value]]</span>",#}
        {#        "fillAlphas": 1,#}
        {#        "title": "Efectivo / Activos Totales",#}
        {#        "type": "column",#}
        {#        "valueField": "percent",#}
        {#        "labelText": "[[value]]"#}
        {#    }],#}
        {#    "categoryField": "year",#}
        {#    "categoryAxis": {#}
        {#        "gridPosition": "start",#}
        {#        "axisAlpha": .5,#}
        {#        "tickLength": 0,#}
        {#        "gridAlpha": 0#}
        {#    },#}
        {#    "export": {#}
        {#        "enabled": true#}
        {#    }#}
        {# });#}

        
        var chart6 = AmCharts.makeChart("chart6", {
            "titles": [
                {
                    "text": "Gasto de agua por zona (m³).",
                    "size": 16,
                    "color": "#000000"
                }
            ],
            "addClassNames": true,
            "colors": ["#184374", "#FF8C48", "#A4B05F", "#C5494C", "#1C66B2", "#6298C2"],
            "type": "serial",
            "theme": "none",
            "legend": {
                "horizontalGap": 4,
                "maxColumns": 5,
                "position": "bottom",
                "useGraphSettings": true,
                "markerSize": 10,
                "align":"center"
            },
            "dataProvider": [
                {
                    "year": 2022,
                    "Zona foranea centro norte": 18,
                    "Zona 1": 28,
                    "Zona 2": 9,
                    "Zona Oriente":27,
                    "Zona Poniente":18,
                    "Zona Sureste":0
                },
                {
                    "year": 2023,
                    "Zona foranea centro norte": 10,
                    "Zona 1": 21,
                    "Zona 2": 7,
                    "Zona Oriente": 25,
                    "Zona Poniente":13,
                    "Zona Sureste":24
                },
                {
                    "year": 2024,
                    "Zona foranea centro norte": 0,
                    "Zona 1": 0,
                    "Zona 2": 0,
                    "Zona Oriente": 0,
                    "Zona Poniente":0,
                    "Zona Sureste":0
                }
            ],
            "valueAxes": [{
                "stackType": "regular",
                "axisAlpha": 0.3,
                "gridAlpha": 0,
                "maximum":100
            }],
            "startDuration": 1,
            "graphs": [
                {
                    "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]%</b></span>",
                    "fillAlphas": 0.8,
                    "labelText": "[[value]]%",
                    "lineAlpha": 0.3,
                    "title": "Zona foranea centro norte",
                    "type": "column",
                    "color": "#000000",
                    "valueField": "Zona foranea centro norte"
                },
                {
                    "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]%</b></span>",
                    "fillAlphas": 0.8,
                    "labelText": "[[value]]%",
                    "lineAlpha": 0.3,
                    "title": "Zona 1",
                    "type": "column",
                    "color": "#000000",
                    "valueField": "Zona 1"
                },
                {
                    "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]%</b></span>",
                    "fillAlphas": 0.8,
                    "labelText": "[[value]]%",
                    "lineAlpha": 0.3,
                    "title": "Zona 2",
                    "type": "column",
                    "color": "#000000",
                    "valueField": "Zona 2"
                },
                {
                    "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]%</b></span>",
                    "fillAlphas": 0.8,
                    "labelText": "[[value]]%",
                    "lineAlpha": 0.3,
                    "title": "Zona Oriente",
                    "type": "column",
                    "color": "#000000",
                    "valueField": "Zona Oriente"
                },
                {
                    "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]%</b></span>",
                    "fillAlphas": 0.8,
                    "labelText": "[[value]]%",
                    "lineAlpha": 0.3,
                    "title": "Zona Poniente",
                    "type": "column",
                    "color": "#000000",
                    "valueField": "Zona Poniente"
                },
                {
                    "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]%</b></span>",
                    "fillAlphas": 0.8,
                    "labelText": "[[value]]%",
                    "lineAlpha": 0.3,
                    "title": "Zona Sureste",
                    "type": "column",
                    "color": "#000000",
                    "valueField": "Zona Sureste"
                }
            ],
            "categoryField": "year",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": 0,
                "gridAlpha": 0,
                "position": "left"
            }

        });

        var chart7 = AmCharts.makeChart("chart7", {
            "titles": [
                {
                    "text": "Captación de agua pluvial (metros de tubo para captación)",
                    "size": 16,
                    "color": "#000000"
                }
            ],
            "addClassNames": true,
            "colors": ["#184374", "#FF8C48", "#A4B05F", "#C5494C", "#1C66B2", "#6298C2"],
            "type": "serial",
            "theme": "none",
            "legend": {
                "horizontalGap": 4,
                "maxColumns": 5,
                "position": "bottom",
                "useGraphSettings": true,
                "markerSize": 10,
                "align":"center"
            },
            "dataProvider": [
                {
                    "year": 2022,
                    "Zona foránea centro norte": 4,
                    "Zona 1": 45,
                    "Zona 2": 5,
                    "Zona Oriente": 11,
                    "Zona Poniente": 14,
                    "Zona Sureste": 21
                },
                {
                    "year": 2023,
                    "Zona foránea centro norte": 4,
                    "Zona 1": 46,
                    "Zona 2": 5,
                    "Zona Oriente": 12,
                    "Zona Poniente": 12,
                    "Zona Sureste": 21
                },
                {
                    "year": 2024,
                    "Zona foránea centro norte": 0,
                    "Zona 1": 0,
                    "Zona 2": 0,
                    "Zona Oriente": 0,
                    "Zona Poniente": 0,
                    "Zona Sureste": 0
                }
            ],
            "valueAxes": [{
                "stackType": "regular",
                "axisAlpha": 0.3,
                "gridAlpha": 0
            }],
            "startDuration": 1,
            "graphs": [
                {
                    "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]%</b></span>",
                    "fillAlphas": 0.8,
                    "labelText": "[[value]]%",
                    "lineAlpha": 0.3,
                    "title": "Zona foránea centro norte",
                    "type": "column",
                    "color": "#000000",
                    "valueField": "Zona foránea centro norte"
                },
                {
                    "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]%</b></span>",
                    "fillAlphas": 0.8,
                    "labelText": "[[value]]%",
                    "lineAlpha": 0.3,
                    "title": "Zona 1",
                    "type": "column",
                    "color": "#000000",
                    "valueField": "Zona 1"
                },
                {
                    "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]%</b></span>",
                    "fillAlphas": 0.8,
                    "labelText": "[[value]]%",
                    "lineAlpha": 0.3,
                    "title": "Zona 2",
                    "type": "column",
                    "color": "#000000",
                    "valueField": "Zona 2"
                },
                {
                    "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]%</b></span>",
                    "fillAlphas": 0.8,
                    "labelText": "[[value]]%",
                    "lineAlpha": 0.3,
                    "title": "Zona Oriente",
                    "type": "column",
                    "color": "#000000",
                    "valueField": "Zona Oriente"
                },
                {
                    "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]%</b></span>",
                    "fillAlphas": 0.8,
                    "labelText": "[[value]]%",
                    "lineAlpha": 0.3,
                    "title": "Zona Poniente",
                    "type": "column",
                    "color": "#000000",
                    "valueField": "Zona Poniente"
                },
                {
                    "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]%</b></span>",
                    "fillAlphas": 0.8,
                    "labelText": "[[value]]%",
                    "lineAlpha": 0.3,
                    "title": "Zona Sureste",
                    "type": "column",
                    "color": "#000000",
                    "valueField": "Zona Sureste"
                }
            ],
            "categoryField": "year",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": 0,
                "gridAlpha": 0,
                "position": "left"
            }

        });

    });
    </script>

    <script>
        $(document).on("click", ".btn-view-more", function (e) {
            e.preventDefault();
            let target = $(e.currentTarget);
            
            let title = target.data('title');
            let description = target.data('description');
            let category = target.data('category');
            
            
            $.ajaxSetup({
                cache: false  // Desactiva el caché globalmente
            });
            $.getJSON("/static/data/consumo_agua.json", function (data) {
                
                let tableBody = $("#myModal .event-table-body");
                tableBody.empty();
                
                // Obtener los datos correspondientes a la categoría
                let categoryData = data[category];
                
                if (categoryData) {
                    
                    categoryData.forEach((item) => {
                        let row = `<tr>
                                        <td>${item["Proyecto"]}</td>
                                        <td>${item["2022"] || ''}</td>
                                        <td>${item["2023"] || ''}</td>
                                        <td>${item["2024"] || ''}</td>
                                   </tr>`;
                        tableBody.append(row);
                    });
                }
                
                
                $("#myModal .event-title").text(title);
                $("#myModal .event-description").text(description);
                
                
                $("#myModal").modal('show');
            });
        });


    // Manejo del botón de cerrar el modal
    $(document).on("click", ".close-btn", function (e) {
        e.preventDefault();
        $("#myModal").modal('hide');
    });
    </script>
{% endblock %}