{% extends 'layauts/base_responsive.html' %}
{% load static %}
{% block otherstyles%}
<link rel="stylesheet" href="{% static 'css/eventTables.css' %}">
{% endblock %}
{% block content %}
    <section class="p-0">
        <div class="container-fluid">
            <div class="card mb-0">
                <div class="card-body">
                    <div class="row gx-5 bg-white">
                        <div class="col-md-12 mb-6">
                            <div class="chart" style="width:100%;height: 400px" id="chart6"></div>
                            <button class="btn btn-info btn-view-more" data-toggle="modal" style="background-color:#174273;border-color:#174273"
                            data-target="#myModal" 
                            data-title="Generación promedio de residuos por zona (ton/año)"
                            data-description="Información desglosada:"
                            data-category="generacion_residuos">
                              Ver más
                             </button>
                        </div>
                        <div class="col-md-12 mb-6">
                            <div class="chart" style="width:100%;height: 400px" id="chart5"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
    <div class="modal fade popup" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="card">
                    <div class="card-body">
                        <h2 class="event-title card-title mb-0 text-center text-bold tc-gray mt-5 mb-5"></h2>
                        <!--<p class="event-description card-text mt-5 text-justify"></p>-->
                        
                        <table class="table table-striped event-table">
                            <thead>
                                <tr>
                                    <th>Proyecto</th>
                                    <th>2022</th>
                                    <th>2023</th>
                                    <th>2024</th>
                                </tr>
                            </thead>
                            <tbody class="event-table-body">
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="text-center py-3">
                    <button type="button" class="btn btn-secondary close-btn card-link" data-mdb-dismiss="modal">
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block otherscripts %}
    <link rel="stylesheet" href="{% static 'css/amcharts.css' %}">
    <script src="{% static 'js/amCharts/amcharts.js' %}"></script>
    <script src="{% static 'js/amCharts/serial.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var BARCHARTHOME = document.getElementById('barChartHome2');

            
        var chart5 = AmCharts.makeChart("chart5", {
            "titles": [
                {
                    "text": "Generación total de residuos (ton/año)",
                    "size": 16,
                    "color": "#000000"
                },
                 {
                     "text": "",
                     "size": 12
                 }
            ],
            "fontSize": 14,
            "type": "serial",
            "addClassNames": true,
            "theme": "none",
            "colors": ["#8EA043", "#6298C2"],
            "balloon": {
                "adjustBorderColor": false,
                "horizontalPadding": 10,
                "verticalPadding": 8,
                "color": "#ffffff"
            },
            "dataProvider": [
                {
                "year": "2022",
                "percent":799,
                },
                {
                "year": "2023",
                "percent":826,
                },
                {
                "year": "2024",
                "percent":0,
                }
            ],
            "valueAxes": [{
                "axisAlpha": 0,
                "position": "left",
                "gridAlpha": 0,
                "labelsEnabled": false,
                "minimum": 0
            }],
            "startDuration": 1,
            "graphs": [{
                "balloonText": "<span style='font-size:15px;'>[[value]]</span>",
                "fillAlphas": 1,
                "title": "Efectivo / Activos Totales",
                "type": "column",
                "valueField": "percent",
                "labelText": "[[value]]"
            }],
            "categoryField": "year",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": .5,
                "tickLength": 0,
                "gridAlpha": 0
            },
            "export": {
                "enabled": true
            }
        });

        var chart6 = AmCharts.makeChart("chart6", {
            "titles": [
                {
                    "text": "Generación promedio de residuos por zona (ton/año).",
                    "size": 16,
                    "color": "#000000"
                }
            ],
            "addClassNames": true,
            "colors": ["#184374", "#FF8C48", "#A4B05F", "#C5494C", "#1C66B2", "#6298C2"],
            "type": "serial",
            "theme": "none",
            "legend": {
                "horizontalGap": 4,
                "maxColumns": 5,
                "position": "bottom",
                "useGraphSettings": true,
                "markerSize": 10,
                "align":"center"
            },
            "dataProvider": [
                {
                    "year": 2022,
                    "Norte": 53,
                    "Oriente": 12,
                    "Poniente": 26,
                    "Quintana Roo":2,
                    "Foraneas":7
                },
                {
                    "year": 2023,
                    "Norte": 60,
                    "Oriente":12,
                    "Poniente": 21,
                    "Quintana Roo":3,
                    "Foraneas":4               
                },
                {
                    "year": 2024,
                    "hombres": 0,
                    "mujeres": 0
                }
            ],
            "valueAxes": [{
                "stackType": "regular",
                "axisAlpha": 0.3,
                "gridAlpha": 0,
                "maximum": 100
            }],
            "graphs": [
                {
                    "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]%</b></span>",
                    "fillAlphas": 0.8,
                    "labelText": "[[value]]%",
                    "lineAlpha": 0.3,
                    "title": "Norte",
                    "type": "column",
                    "color": "#000000",
                    "valueField": "Norte"
                },
                {
                    "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]%</b></span>",
                    "fillAlphas": 0.8,
                    "labelText": "[[value]]%",
                    "lineAlpha": 0.3,
                    "title": "Oriente",
                    "type": "column",
                    "color": "#000000",
                    "valueField": "Oriente"
                },
                {
                    "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]%</b></span>",
                    "fillAlphas": 0.8,
                    "labelText": "[[value]]%",
                    "lineAlpha": 0.3,
                    "title": "Poniente",
                    "type": "column",
                    "color": "#000000",
                    "valueField": "Poniente"
                },
                {
                    "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]%</b></span>",
                    "fillAlphas": 0.8,
                    "labelText": "[[value]]%",
                    "lineAlpha": 0.3,
                    "title": "Quintana Roo",
                    "type": "column",
                    "color": "#000000",
                    "valueField": "Quintana Roo"
                },
                {
                    "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]%</b></span>",
                    "fillAlphas": 0.8,
                    "labelText": "[[value]]%",
                    "lineAlpha": 0.3,
                    "title": "Foráneas",
                    "type": "column",
                    "color": "#000000",
                    "valueField": "Foraneas"
                }
            ],
            "categoryField": "year",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": 0,
                "gridAlpha": 0,
                "position": "left"
            }

        });
        });
    </script>
    <script>
        $(document).on("click", ".btn-view-more", function (e) {
            e.preventDefault();
            let target = $(e.currentTarget);
            
            let title = target.data('title');
            let description = target.data('description');
            let category = target.data('category');
            
            
            $.getJSON("/static/data/desechos_desperdicios.json", function (data) {
                
                let tableBody = $("#myModal .event-table-body");
                tableBody.empty();
                
                // Obtener los datos correspondientes a la categoría
                let categoryData = data[category];
                
                if (categoryData) {
                    
                    categoryData.forEach((item) => {
                        let row = `<tr>
                                        <td>${item["Proyecto"]}</td>
                                        <td>${item["2022"] || ''}</td>
                                        <td>${item["2023"] || ''}</td>
                                        <td>${item["2024"] || ''}</td>
                                   </tr>`;
                        tableBody.append(row);
                    });
                }
                
                
                $("#myModal .event-title").text(title);
                $("#myModal .event-description").text(description);
                
                
                $("#myModal").modal('show');
            });
        });


    // Manejo del botón de cerrar el modal
    $(document).on("click", ".close-btn", function (e) {
        e.preventDefault();
        $("#myModal").modal('hide');
    });
    </script>
{% endblock %}

