{% extends 'layauts/base_responsive.html' %}
{% load static %}
{% block content %}
<section class="p-0">
    <div class="container-fluid">
        <div class="card mb-0">
            <div class="card-body">
                <div class="row gx-5 bg-white">
                    <div class="col-md-12 mb-5">
                        <div class="chart" style="width:100%;height: 400px" id="chart1"></div>
                    </div>
                </div>
                <div class="row gx-5 bg-white">
                    <div class="col-12 text-center">
                        <h2 style="font-family: Verdana,serif; font-size: 16px; font-weight: bold; text-anchor: middle">
                            Porcentaje de hombres y mujeres.</h2>
                    </div>
                    <div class="col-12 col-md-6 mb-5">
                        <div class="chart" style="width:100%;height: 400px" id="chart2"></div>
                    </div>
                    <div class="col-12 col-md-6 mb-5">
                        <div class="chart" style="width:100%;height: 400px" id="chart6"></div>
                    </div>
                </div>
                <div class="row gx-5 bg-white">
{#                    <div class="col-md-12 mb-6">#}
{#                        <div class="chart" style="width:100%;height: 400px" id="chart3"></div>#}
{#                    </div>#}
                    <div class="col-md-12 mb-5">
                        <div class="chart" style="width:100%;height: 400px" id="chart5"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block otherscripts %}
<link rel="stylesheet" href="{% static 'css/amcharts.css' %}">
<script src="{% static 'js/amCharts/amcharts.js'%}"></script>
<script src="{% static 'js/amCharts/serial.min.js'%}"></script>
<script src="{% static 'js/amCharts/pie.min.js'%}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var BARCHARTHOME = document.getElementById('barChartHome2');

        var chart1 = AmCharts.makeChart("chart1", {
            "titles": [
                {
                    "text": "Número de integrantes del consejo de administración",
                    "size": 16,
                    "color": "#000000"
                }
            ],
            "fontSize": 14,
            "type": "serial",
            "addClassNames": true,
            "theme": "none",
            "colors": ["#8EA043", "#6298C2"],
            "balloon": {
                "adjustBorderColor": false,
                "horizontalPadding": 10,
                "verticalPadding": 8,
                "color": "#ffffff"
            },
            "dataProvider": [
                {
                    "year": "2022",
                    "percent": 15,
                },
                {
                    "year": "2023",
                    "percent": 15,
                },
                {
                    "year": "2024",
                    "percent": 0,
                }
            ],
            "valueAxes": [{
                "axisAlpha": 0,
                "position": "left",
                "gridAlpha": 0,
                "labelsEnabled": false,
                "minimum": 0
            }],
            "startDuration": 1,
            "graphs": [{
                "balloonText": "<span style='font-size:15px;'>[[value]]</span>",
                "fillAlphas": 1,
                "title": "Efectivo / Activos Totales",
                "type": "column",
                "valueField": "percent",
                "labelText": "[[value]]"
            }],
            "categoryField": "year",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": .5,
                "tickLength": 0,
                "gridAlpha": 0
            },
            "export": {
                "enabled": true
            }
        });

        var chart2 = AmCharts.makeChart("chart2", {
            {#"titles": [#}
            {#    {#}
            {#        "text": "Porcentaje de hombres y mujeres 2022.",#}
            {#        "size": 16,#}
            {#        "color": "#000000"#}
            {#    }#}
            {#],#}
            "addClassNames": true,
            "colors": ["#174273", "#FF7F34"],
            "type": "pie",
            "theme": "none",
            "legend": {
                "position": "bottom",
                "marginRight": 100,
                "autoMargins": false,
                "horizontalGap": 10,
                "maxColumns": 1,
                "markerSize": 10,
                "markerBorderThickness": 2,
            },
            "pullOutRadius": 0,
            "dataProvider": [
                {
                    "title": "Hombres",
                    "value": 80
                },
                {
                    "title": "Mujeres",
                    "value": 20
                }
            ],
            "titleField": "title",
            "valueField": "value",
            "labelRadius": 5,
            "radius": "42%",
            "innerRadius": "60%",
            "labelText": "[[title]]",
            "allLabels": [{
                "y": "50%",
                "align": "center",
                "size": 25,
                "bold": true,
                "text": "2022",
                "color": "#555"
            }],
            "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>2022: <b>[[value]]%</b></span>",
        });

        var chart6 = AmCharts.makeChart("chart6", {
            {#"titles": [#}
            {#    {#}
            {#        "text": "Porcentaje de hombres y mujeres 2023.",#}
            {#        "size": 16,#}
            {#        "color": "#000000"#}
            {#    }#}
            {#],#}
            "addClassNames": true,
            "colors": ["#174273", "#FF7F34"],
            "type": "pie",
            "theme": "none",
            "legend": {
                "position": "bottom",
                "marginRight": 100,
                "autoMargins": false,
                "horizontalGap": 10,
                "maxColumns": 1,
                "markerSize": 10,
                "markerBorderThickness": 2,
            },
            "pullOutRadius": 0,
            "dataProvider": [
                {
                    "title": "Hombres",
                    "value": 80
                },
                {
                    "title": "Mujeres",
                    "value": 20
                }
            ],
            "titleField": "title",
            "valueField": "value",
            "labelRadius": 5,
            "radius": "42%",
            "innerRadius": "60%",
            "labelText": "[[title]]",
            "allLabels": [{
                "y": "50%",
                "align": "center",
                "size": 25,
                "bold": true,
                "text": "2023",
                "color": "#555"
            }],
            "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>2023: <b>[[value]]%</b></span>",
        });

        {#var chart2 = AmCharts.makeChart("chart2", {#}
        {#    "titles": [#}
        {#        {#}
        {#            "text": "Porcentaje de hombres y mujeres.",#}
        {#            "size": 16,#}
        {#            "color": "#000000"#}
        {#        }#}
        {#    ],#}
        {#    "addClassNames": true,#}
        {#    "colors": ["#174273", "#FF7F34", '#FF8C48', '#ffffff'],#}
        {#    "type": "serial",#}
        {#    "theme": "none",#}
        {#    "legend": {#}
        {#        "horizontalGap": 10,#}
        {#        "maxColumns": 1,#}
        {#        "position": "bottom",#}
        {#        "useGraphSettings": true,#}
        {#        "markerSize": 10#}
        {#    },#}
        {#    "dataProvider": [#}
        {#        {#}
        {#            "year": 2022,#}
        {#            "hombres": 80,#}
        {#            "mujeres": 20#}
        {#        },#}
        {#        {#}
        {#            "year": 2023,#}
        {#            "hombres": 80,#}
        {#            "mujeres": 20#}
        {#        },#}
        {#        {#}
        {#            "year": 2024,#}
        {#            "hombres": 0,#}
        {#            "mujeres": 0#}
        {#        }#}
        {#    ],#}
        {#    "valueAxes": [{#}
        {#        "stackType": "regular",#}
        {#        "axisAlpha": 0.3,#}
        {#        "gridAlpha": 0#}
        {#    }],#}
        {#    "graphs": [#}
        {#        {#}
        {#            "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]%</b></span>",#}
        {#            "fillAlphas": 0.8,#}
        {#            "labelText": "[[value]]%",#}
        {#            "lineAlpha": 0.3,#}
        {#            "title": "Hombres",#}
        {#            "type": "column",#}
        {#            "color": "#000000",#}
        {#            "valueField": "hombres"#}
        {#        },#}
        {#        {#}
        {#            "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]%</b></span>",#}
        {#            "fillAlphas": 0.8,#}
        {#            "labelText": "[[value]]%",#}
        {#            "lineAlpha": 0.3,#}
        {#            "title": "Mujeres",#}
        {#            "type": "column",#}
        {#            "color": "#000000",#}
        {#            "valueField": "mujeres"#}
        {#        }#}
        {#    ],#}
        {#    "categoryField": "year",#}
        {#    "categoryAxis": {#}
        {#        "gridPosition": "start",#}
        {#        "axisAlpha": 0,#}
        {#        "gridAlpha": 0,#}
        {#        "position": "left"#}
        {#    }#}
        {##}
        {# });#}

        {#var chart3 = AmCharts.makeChart("chart3", {#}
        {#    "titles": [#}
        {#        {#}
        {#            "text": "Número de integrantes independientes del consejo de administración",#}
        {#            "size": 16,#}
        {#            "color": "#000000"#}
        {#        }#}
        {#    ],#}
        {#    "fontSize": 14,#}
        {#    "type": "serial",#}
        {#    "addClassNames": true,#}
        {#    "theme": "none",#}
        {#    "colors": ["#C83D48", "#6298C2"],#}
        {#    "balloon": {#}
        {#        "adjustBorderColor": false,#}
        {#        "horizontalPadding": 10,#}
        {#        "verticalPadding": 8,#}
        {#        "color": "#ffffff"#}
        {#    },#}
        {#    "dataProvider": [#}
        {#        {#}
        {#            "year": "2022",#}
        {#            "percent": 1,#}
        {#        },#}
        {#        {#}
        {#            "year": "2023",#}
        {#            "percent": 1,#}
        {#        },#}
        {#        {#}
        {#            "year": "2024",#}
        {#            "percent": 0,#}
        {#        }#}
        {#    ],#}
        {#    "valueAxes": [{#}
        {#        "axisAlpha": 0,#}
        {#        "position": "left",#}
        {#        "gridAlpha": 0,#}
        {#        "labelsEnabled": false,#}
        {#        "minimum": 0#}
        {#    }],#}
        {#    "startDuration": 1,#}
        {#    "graphs": [{#}
        {#        "balloonText": "<span style='font-size:15px;'>[[value]]</span>",#}
        {#        "fillAlphas": 1,#}
        {#        "title": "Efectivo / Activos Totales",#}
        {#        "type": "column",#}
        {#        "valueField": "percent",#}
        {#        "labelText": "[[value]]"#}
        {#    }],#}
        {#    "categoryField": "year",#}
        {#    "categoryAxis": {#}
        {#        "gridPosition": "start",#}
        {#        "axisAlpha": .5,#}
        {#        "tickLength": 0,#}
        {#        "gridAlpha": 0#}
        {#    },#}
        {#    "export": {#}
        {#        "enabled": true#}
        {#    }#}
        {# });#}



        var chart5 = AmCharts.makeChart("chart5", {
            "titles": [
                {
                    "text": "Número de comités",
                    "size": 16,
                    "color": "#000000"
                }
            ],
            "fontSize": 14,
            "type": "serial",
            "addClassNames": true,
            "theme": "none",
            "colors": ["#8EA043", "#6298C2"],
            "balloon": {
                "adjustBorderColor": false,
                "horizontalPadding": 10,
                "verticalPadding": 8,
                "color": "#ffffff"
            },
            "dataProvider": [
                {
                    "year": "2022",
                    "percent": 4,
                },
                {
                    "year": "2023",
                    "percent": 5,
                },
                {
                    "year": "2024",
                    "percent": 0,
                }
            ],
            "valueAxes": [{
                "axisAlpha": 0,
                "position": "left",
                "gridAlpha": 0,
                "labelsEnabled": false,
                "minimum": 0
            }],
            "startDuration": 1,
            "graphs": [{
                "balloonText": "<span style='font-size:15px;'>[[value]]</span>",
                "fillAlphas": 1,
                "title": "Efectivo / Activos Totales",
                "type": "column",
                "valueField": "percent",
                "labelText": "[[value]]"
            }],
            "categoryField": "year",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": .5,
                "tickLength": 0,
                "gridAlpha": 0
            },
            "export": {
                "enabled": true
            }
        });

    });
</script>
{% endblock %}